sublime/User/Package Control.last-run
sublime/User/Package Control.cache/

sublime/User/GoSublime/
sublime/User/Gist.sublime-settings
sublime/User/CoffeeScript.sublime-settings
sublime/User/RubyTest.last-run
sublime/User/SideBarEnhancements/
sublime/User/GoSublime-aux.sublime-settings
sublime/User/Side Bar.sublime-settings
sublime/User/Solarized*
sublime/User/GitHub.sublime-settings
