Host *github.com
#Hostname github.com
User git
IdentityFile ~/.ssh/id_rsa

Host tradr
Hostname 54.245.103.115
User git
IdentityFile ~/.ssh/id_rsa

Host seph
Hostname chance.dyndns.tv
User chance
IdentityFile ~/.ssh/id_rsa

Host flip
Hostname flip1.engr.oregonstate.edu
user zibolskc
IdentityFile ~/.ssh/id_rsa

Host onid
Hostname shell.onid.oregonstate.edu
user zibolskc
IdentityFile ~/.ssh/id_rsa

Host cloud
Hostname chancez.net
user chance
IdentityFile ~/.ssh/id_rsa

Host ash
Hostname ash.osuosl.org
user chance
IdentityFile ~/.ssh/id_rsa

Host fir
Hostname fir.osuosl.org
user chance
IdentityFile ~/.ssh/id_rsa_fir

Host os-class
hostname os-class.engr.oregonstate.edu
user zibolskc
IdentityFile ~/.ssh/id_rsa
